body {
    width: 780px;
    height: 970px;
    padding: 5px;
    font-size: 16px;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: 2px solid gray;
    margin: 5px;
}

.topo {
    width: 100%;
    height: 200px;
    color: #000;
    border: 2px solid fuchsia;
}

.corpo { 
    width: 70%;
    height: 550px;
    color: #000;
    border: 2px solid lightgreen;
    float: left;
    position: relative;
    margin: 5px;
}

.menu {
    width: 26%;
    height: 550px;
    color: #000;
    border: 2px solid lightseagreen;
    float: left;
    position: relative;
    margin: 5px;
}

.footer {
    width: 100%;
    height: 200px;
    color: #000;
    border: 2px solid orange;
    position: relative;
    margin-top: 564px;
}

.span {
    margin-top: 50px;
]